/**
 * Admin order tag
 */
.wcsatt_order_tag {
	display: inline-block;
	padding: 1px 5px;
	border-radius: 3px;
	background: #ffba00;
	color: #fff;
}

.wcsatt_order_tag--first-partial {
	background: #73a724;
}
