/**
 * Admin order tag
 */
.wcsatt_order_tag {
	display: block;
	text-align: center;
	padding: 1px 5px;
	border-radius: 3px;
	background: #ffba00;
	color: #fff;
}

.wcsatt_order_tag + .wcsatt_order_tag {
	margin-top: 8px;
}

.wcsatt_order_tag--first-partial {
	background: #73a724;
}

.wcsatt_order_tag--completed {
	background: #2ea2cc;
}

.wcsatt_order_tag--incomplete {
	background: #a00;
}

.wcsatt-partial-payment-breakdown {
	padding: 8px 12px;
	color: #fff;
	background: #ffba00;
}

.wcsatt-partial-payment-breakdown--paid {
	background: #73a724;
}

.wcsatt-partial-payment-breakdown--expired-without-payment-completion {
	background: red;
}

.wcsatt-partial-payment-breakdown__heading {
	font-size: 18px;
	font-weight: bold;
}
.wcsatt-partial-close-subscription {
	padding: 20px;
	text-align: right;
}
.grid {
	display: flex;
	align-items: center;
}
.grid__cell.grid__cell--one-half {
	width: 50%;
}
.grid__cell.grid__cell--two-thirds {
	width: 66.6666%;
}
.grid__cell.grid__cell--one-third {
	width: 33.3333%;
}
.text-align-right {text-align: right;}